body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  flex: 30%;
  background-color: tomato;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 400px;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 1.2rem;
}

.header button {
  width: 70px;
  height: 85px;
  border: none;
  padding-left: 10px;
  cursor: pointer;
}

.todoList {
  flex: 70%;
  width: 100%;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  color: whitesmoke;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  border: solid 1px whitesmoke;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border-right: none;
  background-color: tomato;
}

.task button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: navajowhite;
  color: crimson;
  cursor: pointer;
}
